<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feature</title>
    <link rel="stylesheet" href="../CSS/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav">
          <li class="link"><a href="/index">Home</a></li>
          <li class="link"><a href="/about">About</a></li>
          <li class="link"><a href="/contact-us">Contact Us</a></li>
          <li class="link">
            <a href="/new_table">Feature Table IOS</a>
          </li>
          <li class="link">
            <a href="/complexForm">Complex From</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <table>
        <tr>
          <td><img src="../assets/siri.png" alt="" /></td>
          <td rowspan="4">
            <img src="../assets/whole_phone.png" alt="" />
            <h1>Contact Posters</h1>
          </td>
          <td rowspan="2">
            <img src="../assets/maps.png" alt="" />
            <h1>Offline maps</h1>
          </td>
          <td colspan="5" rowspan="2">
            <img src="../assets/two_phones.png" alt="" />
          </td>
          <td>
            <div>
              <img class="img-block" src="assets/swipe.png" alt="" />
              <img src="../assets/to_reply.png" alt="" />
            </div>
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            <img src="../assets/airtag.png" alt="" />
            <h1>Find My Item Sharing</h1>
          </td>
          <td rowspan="3">
            <img src="../assets/facetime.png" alt="" />
          </td>
        </tr>
        <tr>
          <td rowspan="2" colspan="5">
            <img src="../assets/ios.png" alt="" />
          </td>
          <td rowspan="2"><img src="../assets/app.png" alt="" /></td>
        </tr>
        <tr>
          <td>
            <img src="../assets/dog.png" alt="" />
            <h1>Pets albums in Photos</h1>
          </td>
        </tr>
        <tr>
          <td rowspan="3" colspan="2">
            <img src="../assets/calendar.png" alt="" />
            <h1>StandBy</h1>
          </td>
          <td rowspan="2">
            <img src="../assets/check.png" alt="" />
            <h1>Check In</h1>
          </td>
          <td colspan="6">
            <img src="../assets/sticker_dog.png" alt="" />
            <h1 class="inline">Live Stickers</h1>
            <img src="../assets/stricker_flower.png" alt="" />
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <img src="../assets/call_response.png" alt="" />
            <h1 class="red-span">Live Voicemail</h1>
          </td>
          <td colspan="3">
            <h1>
              <span class="wavy-span">Improved</span>
              AutoCorrect
            </h1>
          </td>
        </tr>
      </table>
    </main>
  </body>
</html>
