body {
  background-color: #1e1e1e;
  color: #dedede;
  margin: 0;
}
a {
  color: #dedede;
  text-decoration: underline;
  transition: all 0.3s ease;
}
main {
  height: 80dvh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.styled-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
ul {
  list-style-type: none;
}
.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav li {
  margin-right: 1rem;
}
a:hover {
  color: #3961b8;
}
.hidden {
  display: none;
}
.logo-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.icon {
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.icon:hover ~ .new-anchors {
  cursor: pointer;
  animation: showAnchor 0.5s ease-in-out forwards;
}
.new-anchors {
  opacity: 0;
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.nd-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list li {
  margin: 0 1rem;
  opacity: 0;
  transform: translateY(-1);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.nav-list li a {
  text-decoration: none;
  font-weight: bold;
}
.bar {
  background-color: #fff;
  height: 0.5rem;
  width: 1.5rem;
  margin: 0.2rem;
  transition:
    transform 0.3s,
    opacity 0.3s ease;
}
.nd-navbar:hover .bar {
  transform: translateY(0.5rem);
}
.nd-navbar:hover .nav-list li {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

.nd-navbar:hover .nav-list li:nth-child(2) {
  transition-delay: 0.6s;
}
.nd-navbar:hover .nav-list li:nth-child(3) {
  transition-delay: 0.9s;
}
