html {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: #1e1e1e;
  color: #dedede;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
a {
  color: #dedede;
  text-decoration: underline;
  transition: all 0.3s ease;
}
main {
  height: 100dvh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.img-container {
  position: relative;
  display: inline-block;
}
.styled-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
ul {
  list-style-type: none;
}
.nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.nav li {
  margin-right: 1rem;
}
a:hover {
  color: #3961b8;
}
.hidden {
  display: none;
}
.logo-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.icon {
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.icon:hover ~ .new-anchors {
  cursor: pointer;
  animation: showAnchor 0.5s ease-in-out forwards;
}
.new-anchors {
  opacity: 0;
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.nd-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-list li {
  margin: 0 1rem;
  opacity: 0;
  transform: translateY(-1);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.nav-list li a {
  text-decoration: none;
  font-weight: bold;
}
.bar {
  background-color: #fff;
  height: 0.5rem;
  width: 1.5rem;
  margin: 0.2rem;
  transition:
    transform 0.3s,
    opacity 0.3s ease;
}
.nd-navbar:hover .bar {
  transform: translateY(0.5rem);
}
.nd-navbar:hover .nav-list li {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

.nd-navbar:hover .nav-list li:nth-child(2) {
  transition-delay: 0.6s;
}
.nd-navbar:hover .nav-list li:nth-child(3) {
  transition-delay: 0.9s;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: hideLoader 2s forwards;
}
.loader {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 0.5rem solid #3961b8;
  border-top: 0.5rem solid #1e1e1e;
  animation: spin 2s linear infinite;
}
.content {
  height: 0vh;
  width: 0vw;
  animation: showContent 2s forwards;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hideLoader {
  0% {
    opacity: 1;
    height: 100vh;
    width: 100vw;
  }
  100% {
    opacity: 0;
    display: none;
    height: 0;
    width: 0;
  }
}
@keyframes showContent {
  100% {
    height: 100vh;
    width: 100vw;
  }
}
.sidebar {
  float: right;
  width: 50%; /* Adjust the width as needed */
}
.profile-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0); /* Text color with transparency */
  padding: 10px;
}
.watermark:hover {
  color: rgba(255, 255, 255, 1); /* Text color with transparency */
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px; /* Adjust this as needed */
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
.holder {
  width: 100%;
  display: flex;
}
/* CSS to style the title of the card */
.card-title {
  font-size: 18px;
  font-weight: bold;
  display: inline;
}

/* CSS to style the date on the card */
.card-date {
  font-size: 14px;
  display: inline;
  color: #666;
  margin-left: auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
.date {
  font-size: 1.5rem;
  display: inline;
  color: #666;
  margin-left: auto;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  display: inline;
}
.brief {
  font-size: 1.5rem;
  display: inline;
  color: #666;
  margin-left: auto;
}
.link {
  font-size: 1.5rem;
  display: inline;
  color: #666;
  margin-left: auto;
}
.tags {
  font-size: 1.5rem;
  display: inline;
  color: #666;
  margin-left: auto;
}
