<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta keywords="portfolio, swe363, task, home, web dev, development" />
    <meta
      description="This is a simple website to work on during swe363 course."
    />
    <meta author="Jaafar" />
    <title>Confirmation</title>
    <link rel="stylesheet" href="../CSS/styles.css" />
  </head>
  <body>
    <!-- Header with Navbar -->
    <header>
      <nav>
        <ul class="nav">
          <li class="link"><a href="index.html">Home</a></li>
          <li class="link"><a href="about.html">About</a></li>
          <li class="link"><a href="contact-us.html">Contact Us</a></li>
          <li class="link">
            <a href="new_table.html">Feature Table IOS</a>
          </li>
          <li class="link">
            <a href="complexForm.html">Complex From</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h1 style="text-align: center">Form Submitted</h1>
        <h2 style="text-align: center">Thank You</h2>
        <h2 style="text-align: center">We Wil Reach You Soon</h2>
      </section>
    </main>
  </body>
</html>
