<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta keywords="portfolio, swe363, task, home, web dev, development" />
    <meta
      description="This is a simple website to work on during swe363 course."
    />
    <meta author="Jaafar" />
    <!-- 
        <link rel="stylesheet" href="./styles.css" />
    -->
    <link rel="stylesheet" href="../CSS/index.css" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="loader-container">
      <div class="loader"></div>
    </div>

    <div class="content">
      <header>
        <nav>
          <ul class="nav">
            <li class="nav-item"><a href="index.html">Home</a></li>
            <li class="nav-item">
              <a href="bootstraped.html">Bootstrap Page</a>
            </li>
            <li class="nav-item"><a href="about.html">About</a></li>
            <li class="nav-item"><a href="contact-us.html">Contact Us</a></li>
            <li class="nav-item">
              <a href="new_table.html">Feature Table IOS</a>
            </li>
            <li class="nav-item">
              <a href="complexForm.html">Complex From</a>
            </li>
            <li class="nav-item">
              <a href="index-ar.html">Arabic Language</a>
            </li>
          </ul>
        </nav>
      </header>
      <!-- Main Content and Introductory -->
      <main class="main-body">
        <section>
          <h1>SWE363 Blog</h1>
          <div class="image-container">
            <img src="../assets/hello.jpeg" alt="preview" class="styled-img" />
            <p class="watermark">JA</p>
          </div>
          <p>
            This is an introduction in Web Development (Front-end) course. And
            this will be a simple website to work on during swe363 course.
          </p>
        </section>
        <section id="posts"></section>
      </main>
    </div>
    <script src="../JS/list-script.js"></script>
  </body>
</html>
